/*
Author: Kameron Brooks
Date: 06/30/2023
File Name: style.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2 {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rules for img content */

img {
    max-width: 100%;
    display: block;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */

.mobile {
    display: block;
}

.tab-desk {
    display: none;
}

.mobile h1 {
    padding: 2%;
    text-align: center;
}
.mobile h3 {
    padding: 2%;
    text-align: center;
}

/* Style rules for nav content */

nav {
    background-color: #001444;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: block;
    padding: 1em;
    border-top: 1px solid #fff;
}

nav li a {
    display: block;
    color: #fff;
    font-size: 1.25em;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

/* Style rules for main content */

h1, h3 {
    font-family: 'Oswald', sans-serif;
}

main {
    padding: 2%;
    background-color: #e5e9fc;
    overflow: auto;
    font-family: 'Open Sans', sans-serif;
}

main p {
    font-size: 1.25em;
}

.basic-img {
    width: 100%;
}
#contact_img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.round {
    border-radius: 6px;
}

/* Style rules for footer content */
footer {
    background-color: #001444;
    color: #fff;
    text-align: center;
    font-size: 0.65em;
    clear: left;
}

footer a {
    color:#dddddd;
    font-weight: bold;
    text-decoration: none;
}

